#root {
  margin: 0 auto;
  text-align: center;
  background: white;
  width: 100%;
  height: 100vh;
}

.select-icon {
  height: 100%;
  width: 20px;
  color: #cccccc;
  padding: 4px;
  cursor: pointer;
  :hover{
    color: #0d0d0d;
  }
}

.select-divider {
  height: 100%;
  font-weight: lighter;
  width: 12px;
  color: #cccccc;
}

.filters {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
